.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
header {
    background-color: #fdb913;
    padding: 1rem;
}
.logo {
    font-family: monospace;
    font-size: 1.25rem;
    font-weight: bold;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;

    input {
        width: 100%;
        max-width: 300px;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}
h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
.subtitle {
    color: #fdb913;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}
.welcome {
    margin-bottom: 1rem;
}
.error {
    color: red;
    margin-bottom: 1rem;
}

.toggle {
    margin-top: 1rem;
}

.link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}
