.header {
    background-color: #fdb913;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    background-color: #ffe084;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 300px;
    font-style: italic;
}

.username {
    font-weight: bold;
    text-transform: uppercase;
}
.nav {
    display: flex;
    gap: 1rem;
}

.navLink {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    transition: color 0.2s;
}

.navLink span {
    display: inline-block;
}

.active {
    font-weight: bold;
    color: #fff;
}
